@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import "compass/css3";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* ------------ Clouds & Sun -------------- */
.cloud, .cloud_two, .cloud_three, .cloud_four, .cloud_five, .cloud_six{
    animation: move 7s ease infinite;
    border-radius: 50%;
    position: absolute;
    top: 10%; left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    background: #FFFFFF;
    height: 60px; width: 60px;
    box-shadow:
		#FFFFFF 65px -15px 0 -5px,
		#FFFFFF 25px -25px,
		#FFFFFF 30px 10px,
		#FFFFFF 60px 15px 0 -10px,
		#FFFFFF 85px 5px 0 -5px;
}

.cloud_two {
	top: 10%; left: 40%;
    animation-duration: 8s;
    height: 49px; width: 50px;
}

.cloud_three {
	top: 8.5%; left: 90%;
    animation-duration: 7s;
    height: 50px; width: 50px;
}

.cloud_four {
	top: 10%; left: 70%;
    animation-duration: 9s;
}

.cloud_five{
	top: 10%; left: 21%;
    animation-duration: 8s;
}

.cloud_six {
	top: 20%; left: 3%;
    animation-duration: 9s;
}


@keyframes move{
    50% { transform: translateY(-15px); }
}

.sun {
    position: absolute;
    right: 85%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: orange;
    box-shadow:
        0 0 35px 5px yellow,
        0 0 25px 10px yellow inset;
}

/* ------------ Clouds & Sun -------------- */

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #ddd6f3, #ffcdca);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #f8dde8, #eee7f1);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

input#input-box {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #e5d5ec;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 580;
    font-style: normal;
    font-size: 15px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}